<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="File"
                     fileName="${sys:user.home}/.findit/findit.log"
                     filePattern="${sys:user.home}/.findit/findit-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Engine loggers: INFO in console, DEBUG in file -->
        <Logger name="com.findit.engine" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File"    level="DEBUG"/>
        </Logger>
        <Logger name="com.findit.persistence" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" level="WARN"/>
            <AppenderRef ref="File"    level="DEBUG"/>
        </Logger>
        <!-- Root -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
